/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.custom{
 color:#000;
    background-color: rgba(193,193,193,0.4) !important;
 border: none;


}
.navbar-brand{

    color:grey;
    font-size:40px!important;
}
.custom ul li a{
    color:black !important;

}
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
section.module.parallax-3 {
    background-image: url("photo.jfif");
}

section.module.parallax {
    padding: 500px 0;
    background-position: 0 0;
    background-size:cover;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: black;
}
.custom ul li a:hover{
    color:white !important;
    background-color: rgba(64, 224, 208, 0.92) !important;
}
.custom2{ font-size:30px;
    font-family: 'Fjalla One', sans-serif;
    /*color:#f5f5f5 !important;*/

    padding-left: 35px;}
.custom2:hover{color:#36d7b7 !important; text-transform:bold !important;}


}





h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "raleway";
    font-size:18px;
}


.panel-heading h4 a{font-family:"raleway";
font-size:18px;}
 p { font-family: 'Open Sans', sans-serif ;
    font-size:16px;



}

.p-text{
    text-align: justify !important;

}
.carousel-container2{

    background-color: white;

    
}.cstm2{padding:170px;}


.footer-container{
    position: relative;
    height:60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  /* Set the fixed height of the footer here */
  height: 80px;
  overflow: hidden;
  display: block;
  background-color: darkslategray;

}
.custom-icon{color: grey;}

.tab-cnt{
    padding:100px;
    margin-bottom: 20px;
    margin-top:30px;
    background-color: #f5f5f5;
}
.text-muted{
    color:#f5f5f5;
    text-align:center;
    margin-top:30px;
}

.custom3{
    margin-top:30px !important;


}
.btn-cntrl {
    float: right;
    background-color: #36d7b7;
}
.icon-color{color:#36d7b7;}
.custom4{
    background-color: #f5f5f5;
    width:100%;
    margin-right: 0px ;
    margin-left:0px;
}

.custom5{margin-bottom: 30px; margin-right: 0px !important;
padding:100px;}

.act{background-color: #f5f5f5 !important;

transition: all .6s ease-in-out;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15),inset 1px 1px 0 0 hsla(0,0%,100%,.2);
}


.custom6{background-color:transparent;
}

.indicator-style{
    margin-bottom: -50px;
}
.mapstyle{
    border-top: solid grey 2px;
    border-radius:2px;
    boder-bottom: solid grey 2px;
}

.contactcntrl{
    padding:100px;
    background-color:white;
    margin-right:0px;
}


.formcntrl{
    background-color: #fff;
    border: 1px solid darkgray;
    padding-bottom:20px;


}

.contactcntrl2{
    background-color:white;
    /*border-right: 2px solid darkgrey;*/
}

@media (max-width:768px) {
    .contactcntrl {
        padding: 10px !important;
    }
}
.scrollof{
    pointer-events:none;
}
.cstmcontainer{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{background-color: #36d7b7;
transition: all .5s ease-in-out;
    color:white !important;
}

.paddpara{padding:30px !important; text-align:center;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color:#36d7b7;
    color:#fff;
}

#img-container {
  
  position: relative;
}
/*#image {*/

  /**/
  /*left: 0;*/
  /*top: 0;*/
/*}*/
#text2 {
  z-index: 100;
  position: absolute;

  color:white;
  font-size: 60px;
  font-family:sans-serif;
  font-weight: ;
  left: 0%;
  right:
  bottom: ;
  background-attachment: fixed;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
.tab-cnt li a{color:black;}

.secstyle{
    color:lightslategray;
    font-family:"raleway";
}
.navbar-nav li a{font-family:"raleway";
font-size:18px;}
.sidenav a {font-family:"raleway";}
.paddpara h4{font-family:"raleway";}
.nav-tabs li a {font-family:"raleway"; font-size:18px;}
.tab-pane h3{font-family:"raleway"; }
.carousel-inner h3{font-family:"raleway";}
.carousel-container2 h2{font-family:"raleway";}
.contactcntrl2 h2, h3{font-family:"raleway";}
.formcntrl h2{font-family:"raleway";}
.carousel-container2 h2{position:relative;}
.carousel-container2 h2:before{
    content: "";
    position: absolute;
    width: 4%;
    height: 1px;
    bottom: 0;
    right: 50%;
    margin-bottom: -3px;
    border-bottom: 1px solid #565a5c;
}

.secstyle {position:relative;}
.secstyle:before {
    content: "";
    position: absolute;
    width: 6%;
    height: 1px;
    bottom: 0;
    right: 50.2%;
    margin-bottom: -3px;
    border-bottom: 1px solid #565a5c;

}
.panel-heading{cursor:pointer;}
.heading {
    margin-top: -20px;
    color: lightslategray;
    font-style:bold;
}



.secstyle2{

margin-top:0px;
    padding-top:20px;
}

@media (max-width: 375px) {
    #text2{
        font-size: 22px !important;
    }
}

/*@media (min-width:350px) and (max-width:375px)  {*/
    /*#text2{font-size:2px;}*/
/*}*/

@media (max-width:1920px) and (min-width:768px){
    #text2 {
        font-size: 44px !important;
        left:10% !important;
        right:10% !important;
    }
}
@media (max-width: 768px) {
    #text2{font-size: 36px;
    }
}


@media (max-width: 768px){
    .custom{background-color: whitesmoke !important;}

}
@media (max-width:320px){
    .custom2{font-size:34px !important;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index:999999;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: 0.6s;
    padding-top: 60px;
}

.sidenav a {

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

}
.sidenav a:hover {

    color: black !important;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media screen and (max-width:768px){
    .sidenav {
        color: #141412;
        display: block;
    }
}

@media screen and (max-width:768px){
    .custom5{padding:5px;}
}

@media screen and (max-width:768px){
    .tab-cnt{padding:5px;}
    .carousel-container2{padding: 50px;}
    .cstm2{padding:5px;}
    .contactcntrl{margin-left:0px;}
}

/*.borderbottom{border-bottom: 2px solid #efefef;}*/



.navbar-default .navbar-brand{

    color: darkslategrey;
    font-family: 'Raleway';
    font-weight:100;
}

.brand-color{color: #000 !important;}
